<div
  class="hero overlay"
  style="background-image: url('assets/images/bg_3.jpg')"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Search By Team</h1>
        <form #searchForm="ngForm" (ngSubmit)="searching(search)" class="text-center mt-5">
            <div class="form-group">
   
                <button class="btn" type="submit" >Search Match Where Score>=2</button>
        
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

