<app-banner Ch="Team  Information"></app-banner>
<div class="site-section bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="widget-next-match">
            <table class="table custom-table">
              <thead>
                <tr>
                  <th></th>
                  <th>Team</th>
                  <th>Owner</th>
                  <th>Foundation</th>
                  <th>Stadium</th>
                </tr>
              </thead>
  
              <tr >
                <td>{{ findedTeam.id }}</td>
                <td>{{ findedTeam.name }}</td>
                <td>{{ findedTeam.owner }}</td>
                <td>{{findedTeam.foundation }}</td>
                <td>{{findedTeam.stadium }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

